<%- include("../partials/header") %>
<div class="container-contact100">

    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/family/<%= family._id %>?_method=PUT" method="POST">
            <span class="contact100-form-title">
                Edit a Family
            </span>

            <div class="wrap-input100 " >
                <input class="input100" type="text" name="family[name]" value="<%= family.name %>">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 " >
                <input class="input100" type="text" name="family[nic_no]" value="<%= family.nic_no %>">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 " >
                <input class="input100" type="text" name="family[per_address]" value="<%= family.per_address %>">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 ">
                <input class="input100" type="text" name="family[tem_address]" value="<%= family.tem_address%>">
                <span class="focus-input100"></span>
            </div>
            
            <div class="wrap-input100 " >
                <input class="input100"  type="text" name="family[gs_div]" value="<%= family.gs_div %>">
                <span class="focus-input100"></span>
            </div>
            
            <div class="wrap-input100 " >
                <input class="input100" type="text" name="family[about]" value="<%= family.about %>">
                <span class="focus-input100"></span>
            </div>
          
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    <span>
                        
                        Submit
                    </span>
                </button>
            </div>
        </form>
        <a href="/family">GO BACK!!</a>
    </div>
</div>
<%- include("../partials/footer") %>


