<%- include("../partials/header") %>

	<div class="container-contact100">

		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/family/<%=family_id%>/member/<%=member._id%>?_method=PUT " method="POST">
				<span class="contact100-form-title">
					Edit a New Member 
				</span>

				<div class="wrap-input100 validate-input" data-validate="Please enter your name">
					<input class="input100" type="text" name="member[name]" value="<%= member.name %>">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your email: e@a.x">
					<input class="input100" type="text" name="member[gender]" value="<%= member.gender %>">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
					<input class="input100" type="text" name="member[relation]" value="<%= member.relation %>">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
					<input class="input100" type="date" name="member[dob]" value="<%= member.dob %>">
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
					<input class="input100" type="text" name="member[nic_no]" value="<%= member.nic_no %>">
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
					<input class="input100" type="text" name="member[occupation]" value="<%= member.occupation %>">
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
					<input class="input100" type="number" name="member[mon_income]" value="<%= member.mon_income %>">
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							
							Submit
						</span>
					</button>
				</div>
            </form>
            <a href="/family">GO BACK!!</a>
		</div>
    </div>
    
<%- include("../partials/footer") %>