<%- include("../partials/header") %>

 <div class="container">
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Members</h1>
                <p>View our hand-picked family all over Sri Lanka</p>
            </div>
        </header>
        <div class="container-contact100-2">

            <div class="wrap-contact100">
                <form class="contact100-form validate-form" action="/members/queries" method="POST">
                    <span class="contact100-form-title">
                        Search a Member
                    </span>
        
                    <!-- <div class="wrap-input100 " >
                        <input class="input100" type="text" name="name" placeholder="search a member">
                        <span class="focus-input100"></span>
                    </div> -->

                    <div class="wrap-input100 " >
                        <input class="input100" type="number" name="mon_income" placeholder="by monthly income">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn">
                            <span>
                                
                                Submit
                            </span>
                        </button>
                    </div>
                </form>
                 
            </div>
            
        </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% members.forEach(function(member) { %>
            <div class="col-md-3 col-sm-3 ">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h4> <%= member.name %> </h4>
                        <h5><%= member.gender  %> </h5>
                        <h5><%= member.relation  %> </h5>
                        <h5><%= member.dob  %> </h5>
                        <h5><%= member.nic_no  %> </h5>
                        <h5><%= member.occupation  %> </h5>
                        <h5><%= member.mon_income %> </h5>
                        
                    </div>
                  
                </div>
            </div>   
        <% }); %>
    </div>
    
</div> 



<%- include("../partials/footer") %>